body{
    width:100%;
    height:100%;
}

@font-face {
    font-family: "Days";
    src: url("fonts/Days.ttf");
}

.material-icons {
    cursor: pointer;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.App {
    text-align: center;
}

.col{
    display: flex;
    flex-direction: column;
    float:left;
}

.row{
    display: flex;
    flex-direction: row;
}

.filter_container{
    position: fixed;
    z-index: 120;
    width: 100%;
    height: 50px;
    background-color: azure;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.1);
    vertical-align: middle;
}

.sort_area{
    margin: 0 auto;
}

.to_place{
    margin-left: 10px;
}

.checkboxes{
    flex-wrap: wrap;
}

.filter_container span{
    padding: 5px;
}

.filter_container select{
    margin: 0;
    border-radius: 2px;
}

.items_container {
    min-width: 650px;
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 60px;
}

.item_holder {
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    height: 441px;
    width: 280px;
    display: block;
    padding: 4px;
    margin-top: 10px;
    margin-left: 10px;
}

.image_holder{
    position: relative;
    width: 240px;
    height: 248px;
    margin-left: 7%;
}

.prevent_moving_h2{
    position: static;
}

.image_holder img{

    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2px;

}

.photos{
    background: rgba(100, 100, 100, 1.0) url("backgrounds/photo.png");
    background-size: contain;
    position: relative;
    bottom: 50px;
    width: 24px;
    height: 24px;
    left: 80%;
    margin: 0;
    font-weight: bold;
    font-size: 13px;
}

.photos span{
    color: rgba(220,220,220, 1);
}

.star{
    position: relative;
    background: rgba(0,0,0,0.2);
    width: 24px;
    bottom: 255px;
    left: 80%;
}

.item_holder h2 {

    margin: 10px 0 0;
    float:left;
    color: #0091d9;
    cursor: pointer;
    font-size: 15px;
    font-family: Days;
    height: auto;
}

.item_holder h2:hover {
    color: red;
}

.item_holder span{
    text-align: left;
    float: left;
    margin-left: 10%;
}

.date{
    color: darkgrey;
}

.price{
    font-weight: bold;
    width: 90px;
}

.item_holder span{
    text-align: left;
}

.red{
    color:red;
}

.green{
    color:green;
}

.yellow{
    color: yellow;
}